*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: "nunitosans", sans-serif;
    src: url("./fuente/nunitosans-regular.ttf");
}
body {
    font-family:"nunitosans", sans-serif;
    width: 100%;
    height: 100vh;
}
h1{
    padding-left: 10%;
}
h2{
    padding-left: 8%;
}
.fuenteGrande {
    font-size: 130%;
}